name: Monitor

on:
#  schedule:
#    -cron: '*/60 * * * *'

  workflow_run:
    workflows: ["DevSecOps CI/CD Pipeline"]
    branches: [main]
    types:
      -completed

  workflow_dispatch:

env:
  TARGET_URL: "https://zbi-inventory-app-axfcfebbawe7abet.italynorth-01.azurewebsites.net/"

  ADO_ORG: "ZBI-project"
  ADO_PROJECT: "ZBI-project"
  DEV_GROUP: "@ZBI-project/Operations"

jobs:
  check-uptime:
    name: Check App Availability
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }} #|| github.event_name != 'workflow_run' }} #aby uruch>

    steps:
      - name: Ping App
        id: ping
        run: |
          sleep 60 #for app to deploy
          echo "Checking availability: ${{ env.TARGET_URL }}"
          HTTP_CODE=$(curl -s -o /dev/null -w "%{http_code}" ${{ env.TARGET_URL }})
          echo "HTTP code is $HTTP_CODE"

          if [ "$HTTP_CODE" -eq 200 ]; then
            echo "App is working normally"
            echo "status=up" >> $GITHUB_OUTPUT
          else
            echo "App is not responding. Code: $HTTP_CODE"
            echo "status=down" >> $GITHUB_OUTPUT
            exit 1
          fi

      - name: Create Alert in Azure DevOps
        if: failure()
        env:
          AZURE_DEVOPS_EXT_PAT: ${{ secrets.ADO_PAT }}
        run: |
          echo "Incident occured. Logging in to Azure DevOps..."
          echo ${{ secrets.ADO_PAT }} | az devops login
 
          TIMESTAMP=$(date "+%Y-%m-%d %H:%M:%S")

          echo "Creating an ISSUE..."
          az boards work-item create \
            --title "CRITICAL: Production App is DOWN" \
            --type "Issue" \
            --org "https://dev.azure.com/${{ env.ADO_ORG }}" \
            --project "${{ env.ADO_PROJECT }}" \
            --priority 1 \
            --description "<h3>Incident info:</h3> \
              <b>Status:</b> App is not responding.<br> \
              <b>Code HTTP:</b> $HTTP_CODE<br> \
              <b>Time:</b> $TIMESTAMP<br><br> \
              <b>GHA Logs:</b> ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
